@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --primary: #01bc63;
    --primary-hover: #01bc622d;
  }
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    /* background: url("../img/gradient7.jpg") no-repeat; */
    /* background: url("../img/gradient13.jpg") no-repeat; */
    /* background: url("../img/gradient14.jpg") no-repeat; */
    /* background: url("../img/gradient_11.jpg") no-repeat; */
    /* background: url("../img/gradient_22.jpg") no-repeat; */
    /* background: url("../img/gradient_44.jpg") no-repeat; */
    /* background-size: cover; */
  }

  img {
    display: inline;
  }

  #ecran1 {
    word-wrap: break-word;
    word-break: break-all;
    /* font-size: 26px; */
  }

  .calcBoxShadow {
    box-shadow: -10px 5px 34px -4px rgba(0, 0, 0, 0.336);
  }

  #ecran2 {
    height: 210px;
    word-wrap: break-word;
    word-break: break-all;
    /* overflow: hidden; */
    /* font-size: 26px; */
  }
}

.btn-signe {
  @apply font-semibold text-primary;
}

.btn-ring {
  @apply duration-200 rounded-full focus:outline-none focus:ring-1 focus:ring-primary focus:ring-offset-2 focus:ring-opacity-50 hover:bg-primaryHover;
}

.countrySelectClass {
  @apply flex items-center justify-between p-1 text-left transition-colors border rounded-md cursor-pointer w-28 hover:border-primary shrink-0;
}
